* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load {
  width: 60px;
  height: 60px;
  background-color: transparent;
  display: none;
  border: 10px solid #8f8f8f;
  border-top: 10px solid transparent;
  border-radius: 50%;
  opacity: 0.5;
  animation: loading 1s linear infinite;
}
.carregando {
  /*margin-top: -120px;
  margin-left: 70px;*/
  font-size: 1.2em;
  color: #8f8f8f;
  animation: load 1s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
